# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Build and Publish Library

on:
  workflow_dispatch:
  release:
    types: [created, edited]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install
      - run: yarn test
  build:
    runs-on: ubuntu-latest
    needs : test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install
      - run: yarn build
      - name: save build artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./dist
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://npm.pkg.github.com"
      - name: download artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: ./dist
      - run: yarn publish --no-git-checks --registry=https://npm.pkg.github.com
        working-directory: ./dist
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
